

<p>
    Maak hier een nieuwe review aan:
  </p>
  
  <form #formulier="ngForm" (ngSubmit)="versturen();">
  
    <br>titel:<br>
    <input [(ngModel)]="review.titel"
        name="titel" required>
  
    <br><br>inhoud:<br>
    <input [(ngModel)]="review.inhoud"
        name="inhoud" required>

        
        <br>rating totaal:
        <!-- <p *ngFor="let item of ratereview.rate">{{item}} -->
       <div class="rateTotaal">
          <input type="radio" id="star5" [(ngModel)]="rating.totaal" name="rate" value="5" />
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" [(ngModel)]="rating.totaal" name="rate" value="4" />
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" [(ngModel)]="rating.totaal" name="rate" value="3" />
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" [(ngModel)]="rating.totaal" name="rate" value="2" />
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" [(ngModel)]="rating.totaal" name="rate" value="1" />
          <label for="star1" title="text">1 star</label>
        </div>
        <!-- </p> -->
        
        <br>rating moeilijkheid:
        <div class="rate2">
          <input type="radio" id="star5" [(ngModel)]="rating.moeilijkheid" name="ratemoeilijkheid" value="5" />
          <label for="star5_2" title="moeilijkheidRate">5 stars</label>
          <input type="radio" id="star4" [(ngModel)]="rating.moeilijkheid" name="ratemoeilijkheid" value="4" />
          <label for="star4_2" title="moeilijkheidRate">4 stars</label>
          <input type="radio" id="star3" [(ngModel)]="rating.moeilijkheid" name="ratemoeilijkheid" value="3" />
          <label for="star3_2" title="moeilijkheidRate">3 stars</label>
          <input type="radio" id="star2" [(ngModel)]="rating.moeilijkheid" name="ratemoeilijkheid" value="2" />
          <label for="star2_2" title="moeilijkheidRate">2 stars</label>
          <input type="radio" id="star1" [(ngModel)]="rating.moeilijkheid" name="ratemoeilijkheid" value="1" />
          <label for="star1_2" title="moeilijkheidRate">1 star</label>
        </div>

        <br>rating locatie:
        <div class="ratelocatie">
          <input type="radio" id="star5" [(ngModel)]="rating.locatie" name="ratelocatie" value="5" />
          <label for="star5" title="LocatieRate">5 stars</label>
          <input type="radio" id="star4" [(ngModel)]="rating.locatie" name="ratelocatie" value="4" />
          <label for="star4" title="LocatieRate">4 stars</label>
          <input type="radio" id="star3" [(ngModel)]="rating.locatie" name="ratelocatie" value="3" />
          <label for="star3" title="LocatieRate">3 stars</label>
          <input type="radio" id="star2" [(ngModel)]="rating.locatie" name="ratelocatie" value="2" />
          <label for="star2" title="LocatieRate">2 stars</label>
          <input type="radio" id="star1" [(ngModel)]="rating.locatie" name="ratelocatie" value="1" />
          <label for="star1" title="LocatieRate">1 star</label>
        </div>

        <br>rating personeel:
        <div class="ratepersoneel">
          <input type="radio" id="star5" [(ngModel)]="rating.personeel" name="ratepersoneel" value="5" />
          <label for="star5" title="personeelRate">5 stars</label>
          <input type="radio" id="star4" [(ngModel)]="rating.personeel" name="ratepersoneel" value="4" />
          <label for="star4" title="personeelRate">4 stars</label>
          <input type="radio" id="star3" [(ngModel)]="rating.personeel" name="ratepersoneel" value="3" />
          <label for="star3" title="personeelRate">3 stars</label>
          <input type="radio" id="star2" [(ngModel)]="rating.personeel" name="ratepersoneel" value="2" />
          <label for="star2" title="personeelRate">2 stars</label>
          <input type="radio" id="star1" [(ngModel)]="rating.personeel" name="ratepersoneel" value="1" />
          <label for="star1" title="personeelRate">1 star</label>
        </div>

        <br>rating sfeer:
        <div class="ratesfeer">
          <input type="radio" id="star5" [(ngModel)]="rating.sfeer" name="ratesfeer" value="5" />
          <label for="star5" title="sfeerRate">5 stars</label>
          <input type="radio" id="star4" [(ngModel)]="rating.sfeer" name="ratesfeer" value="4" />
          <label for="star4" title="sfeerRate">4 stars</label>
          <input type="radio" id="star3" [(ngModel)]="rating.sfeer" name="ratesfeer" value="3" />
          <label for="star3" title="sfeerRate">3 stars</label>
          <input type="radio" id="star2" [(ngModel)]="rating.sfeer" name="ratesfeer" value="2" />
          <label for="star2" title="sfeerRate">2 stars</label>
          <input type="radio" id="star1" [(ngModel)]="rating.sfeer" name="ratesfeer" value="1" />
          <label for="star1" title="sfeerRate">1 star</label>
        </div>
        
        <br>rating variatie:
        <div class="ratevariatie">
          <input type="radio" id="star5" [(ngModel)]="rating.variatie" name="ratevariatie" value="5" />
          <label for="star5" title="variatieRate">5 stars</label>
          <input type="radio" id="star4" [(ngModel)]="rating.variatie" name="ratevariatie" value="4" />
          <label for="star4" title="variatieRate">4 stars</label>
          <input type="radio" id="star3" [(ngModel)]="rating.variatie" name="ratevariatie" value="3" />
          <label for="star3" title="variatieRate">3 stars</label>
          <input type="radio" id="star2" [(ngModel)]="rating.variatie" name="ratevariatie" value="2" />
          <label for="star2" title="variatieRate">2 stars</label>
          <input type="radio" id="star1" [(ngModel)]="rating.variatie" name="ratevariatie" value="1" />
          <label for="star1" title="variatieRate">1 star</label>
        </div>

        <br>rating bereikbaarheid:
        <div class="ratebereikbaarheid">
          <input type="radio" id="star5" [(ngModel)]="rating.bereikbaarheid" name="ratebereikbaarheid" value="5" />
          <label for="star5" title="bereikbaarheidRate">5 stars</label>
          <input type="radio" id="star4" [(ngModel)]="rating.bereikbaarheid" name="ratebereikbaarheid" value="4" />
          <label for="star4" title="bereikbaarheidRate">4 stars</label>
          <input type="radio" id="star3" [(ngModel)]="rating.bereikbaarheid" name="ratebereikbaarheid" value="3" />
          <label for="star3" title="bereikbaarheidRate">3 stars</label>
          <input type="radio" id="star2" [(ngModel)]="rating.bereikbaarheid" name="ratebereikbaarheid" value="2" />
          <label for="star2" title="bereikbaarheidRate">2 stars</label>
          <input type="radio" id="star1" [(ngModel)]="rating.bereikbaarheid" name="ratebereikbaarheid" value="1" />
          <label for="star1" title="bereikbaarheidRate">1 star</label>
        </div>




            <br><br>bijzonderheden:<br>
            <input type="text"  [(ngModel)]="bijzonderheden"
                name="bijzonderheden" required>


    <br><br><input type="submit" value="Opslaan" 
        [disabled]="formulier.invalid">

        <div>
          <br>
            Review titel:
            {{review.naam}}<br>
            Review inhoud:
            {{review.inhoud}}<br>
            Review bijzonderheden:
            {{review.bijzonderheden}}<br>
            Review rating totaal:
            {{rating.totaal}}<br>
            Review rating moeilijkheid:
            {{rating.moeilijkheid}}<br>
            Review rating locatie:
            {{rating.locatie}}
        </div>
  </form>

  
        

  <router-outlet></router-outlet>