<br>

<a routerLink = "../updateaccount">Update uw account</a>

<br>
<br>
<form #formulier="ngForm" (ngSubmit)="DELETE()">
  <br><br><input type="submit" value="Account verwijderen" >
</form>
<br>
<br>
<form #formulier2="ngForm" (ngSubmit)="Logout()">
  <br><br><input type="submit" value="Uitloggen" >
</form>

<br>
Uw reviews:
<table>
  <tr>
    <th>Titel</th>
    <th>Locatie</th>
    <th>Inhoud</th>     
  </tr>
  <tr *ngFor="let review of reviews">
    <td>{{review.titel}}</td>
    <td>{{review.locatie.naam}}</td>
    <td>{{review.inhoud}}</td>
    <td><a [routerLink]="['../../locaties/reviews/reviewupdate', review.id]">Edit</a></td>
    <td><a [routerLink]="['../../locaties/reviews/reviewdelete', review.id]">Delete</a></td>
  </tr>
</table>