<p>
    Maak hier een nieuwe locatie aan:
  </p>
  
  <form #formulier="ngForm" (ngSubmit)="versturen();">
  
    <br>Naam:<br>
    <input [(ngModel)]="locatie.naam"
        name="naam" required>
  
    <br><br>Adres:<br>
    <input type="adres"  [(ngModel)]="locatie.adres"
        name="adres" required>
  
        
    <br><br>Sport:<br>

    <br><select name="sport" [(ngModel)] = "locatie.sport.id">
      <option *ngFor="let s of this.sporten" value={{s.id}}>
          <!-- <option *ngFor="let s of locatie.sport" value={{s.id}}> -->
      {{s.naam}}
      </option>
      </select>


    <br><br><input type="submit" value="Opslaan" 
        [disabled]="formulier.invalid">
  </form>