Lijst met reviews:  

<table>
    <!-- <a routerLink = "reviewCreate">Nieuwe Locatie</a> -->
    <tr>
      <th>Naam</th>
      <th>Gebruiker</th>
      <th>Titel</th>
      <th>inhoud</th>     
    </tr>
    <tr *ngFor="let review of reviews">
      <td>{{review.locatie.naam}}</td>
      <td>{{review.account.naam}}</td>
      <td>{{review.titel }}</td>
      <td>{{review.inhoud}}</td>
      
      <!-- <a routerLink = "reviewCreate">Nieuwe Locatie</a>  -->
    </tr>
      

  </table>




<router-outlet></router-outlet>